<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">    
    <link rel="stylesheet" href="EdsonBarber_style.css"> 
    <script src="jquery-3.6.3.min.js"></script>
    <title>Edson Barber</title>
</head>
<body>
    {{{body}}}
</body>
<script src="EdsonBarber_scripts.js"></script>
<script src="EdsonBarber_scriptsAgenda.js"></script>

</html>