<div class="content-agenda">
    <img src="imagens/EdsonBarber_logo.png" alt="logo-barbearia" id="logo da barbearia">
<form>      
    <div>
        <h1>Acessar agenda:</h1>                
        <div>
            <p>Senha:</p>
            <input type="password" id="senha" name="senha" placeholder="digite sua senha" class="inputs required" maxlength="20" onkeypress="if(event.keyCode===13){login()}">
            <span class="span-required">Digite um número válido</span>
        </div>
        <button type="button" onclick="login()">Acessar</button>
    </div>
</form>
</div>